# Ignore PyCharm configs
.idea/

# Ignore virtual environments
.venv/
venv/

# Bytecode cache
__pycache__/
*.py[cod]

# JSON de dados sensíveis (opcional proteger no futuro)
src/data/*

# Mantem a pasta vazia commitada para que os usuarios tenha seus bancos de dados locais
!data/.gitkeep